---
import ReactCounter from './react/Counter.jsx';
import SolidCounter from './solid/Counter.jsx';
import PreactCounter from './preact/Counter.jsx';
import AlpineCounter from './alpine/Counter.astro';
import SvelteCounter from './svelte/Counter.svelte';
import VueCounter from './vue/Counter.vue';

const title = Astro.props.title ?? 'Hello World!';
---

<div id="container">
  <h2>{title}</h2>
  <p data-testid="astro-paragraph">This is astro component!</p>
  <ReactCounter client:load />
  <SolidCounter client:load />
  <PreactCounter client:load />
  <AlpineCounter />
  <SvelteCounter client:load />
  <VueCounter client:load />
</div>

<style>
  #container {
    border: 2px solid hotpink;
  }
</style>
