---
import Welcome from './Welcome.jsx';

const title = Astro.props.title ?? 'This is a card';

---

<div id="container">
	<h2>{title}</h2>
	<p>This is astro component!</p>
	<Welcome client:load />
</div>

<!-- Styles does not -->
<!-- <style>
	#container {
		border: 2px solid hotpink;
	}
</style> -->
