---
import ReactWelcome from './react/Welcome.jsx';
import SolidCounter from './solid/Counter.jsx';

const title = Astro.props.title ?? 'Hello World!';

---

<div id="container">
	<h2>{title}</h2>
	<p>This is astro component!</p>
	<ReactWelcome client:load />
	<SolidCounter client:load />
</div>

<style>
	#container {
		border: 2px solid hotpink;
	}
</style>
